!!!
%html
  %head
    %title
      Disrupto
    %link{ :rel => "stylesheet", :href => "/css/bootstrap.css" }
    %link{ :rel => "stylesheet", :href => "/css/bootstrap-responsive.css" }
    %link{ :rel => "stylesheet", :href => "/css/memberly.css" }
    %link{ :rel => "stylesheet", :href => "/css/application.css" }
    %script{ :src => "js/react.js" }
    %script{ :src => "js/JSXTransformer.js" }
    %script{ :type => "text/jsx", :src => "js/application.js" }

  %body{ :onload => "javascript:setTimeout('location.reload(true);',5000);" }
    .red
    .container
      .row
        .container.logo.col-md-4
          %img{ :src => "/images/logo-light.png" }
      .row
        .container.extraordinary-people.col-md-7
          %table
            %thead
              %th(colspan=2)
                Extraordinary people
            %tbody
              - @rankings.slice!(0,3).each_with_index do |ranking, index|
                %tr.top-ranked{ :class => "position-#{index}"}
                  %td.name
                    = ranking[0]
                  %td
                    = ranking[1]
          %p
            Earn points by chatting in #water-cooler. Use your points to give or take points from others.
        .container.extraordinary-people.col-md-1
        .container.extraordinary-people.col-md-4
          %table
            %thead
              %th(colspan=2)
                Everyone else
            %tbody
              - @rankings.each do |name, score|
                %tr
                  %td.name
                    = name
                  %td
                    = score

    #example
      
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }